<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Sign In</title>
    <link rel="stylesheet" href="static/css/login.css"/>
</head>
<body>
<div id="login">
    <div id="backwhite"></div>
    <h1>Welcome!</h1>
    <form>
        <input type="text" required="required" placeholder="用户名" id="userID" />
        <input type="password" required="required" placeholder="密码" id="pwd" autocomplete="off"/>
        <button class="but" type="button" onclick="signIn()">Sign In</button>
        <table class="qitaxuanxiang">
            <tr>
                <td>
                    <a id="forget_password" onclick="alert('请联系任务发布者进行密码重置')">忘记密码</a>
                </td>
                <td>
                    <a id="register"  onclick="alert('请联系任务发布者注册')">没有帐户?</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    function signIn() {
        let userID=document.getElementById("userID").value;
        let pwd=document.getElementById("pwd").value;

        $.ajax({
            type:'POST',
            url :"/checkSignIn",
            dataType:"json",
            data:{
                uid:userID,
                pwd:pwd
            },
            success:
                function(d){
                    if(d.result ==="YES") {
                        window.location.href="/Label.html"
                        document.cookie=""+userID;
                    }
                    else {
                        alert("请再次检查用户名和密码是否正确!")
                    }
                },
            error:function (msg) {
                alert("Cann't trans data!")
                console.log(msg)
            }
        })
    }
</script>
</body>
</html>