<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>标注常见问题</title>
</head>
<body>
<h2>标注常见问题解答</h2>
<ol start='' >
<li><p>如何更准确地把握给分的尺度？</p>
<p>答：我们希望您按照如下步骤进行打分：</p>
<ul>
<li>明确指标：不同的指标之间评分是<span style="color:red"><strong>相互独立</strong></span>的，且代表了不同的方面。例如可能存在一个句子信息量丰富，但是与上文不相关。此时在信息量指标上得分很高，但是在相关性指标上得分很低。</li>
<li>先比较好坏，再给出分数：例如当参考评分是3时，如果您认为语音助手的回复相关性更好，则相关性分数只需要考虑3.5,4,5或5，如果您认为参考句子更好，则相关性分数只需要考虑为1或者2即可。</li>

</ul>
<p>&nbsp;</p>
</li>
<li><p>如果参考评分出现3.5（2.5）之类的分数，且感觉两句话没有太大差异，应该给3还是4分（2还是3）呢？</p>
<p>答：统一<strong>向上取整</strong>，即如果语音助手的回复和参考回复<span style="color:red"><strong>没有太大差异，且参考的评分为3.5，则此时给4分</strong></span>。</p>
</li>

</ol>
<p>&nbsp;</p>
<ol start='3' >
<li><p>如果语音助手的句子读起来不太通顺，如何给分？</p>
<p>答：目前语音助手还没有办法做到流畅的与人交流，因此我们允许语句上细小的差错。但是如果句子的逻辑有误，或者读起来完全不通顺，则可以给较低的分数（具体给多少分，需要结合参考评分来判断）。</p>
</li>

</ol>
<p>&nbsp;</p>
<ol start='4' >
<li><p>如果在标注时遇到同一个上文是否属于正常现象？</p>
<p>答：属于正常现象。由于数据集的特点，同一个上文可以对应多种不同的输出（但是对应唯一的一个参考）。</p>
</li>

</ol>
<p>&nbsp;</p>
<ol start='5' >
<li><p>联系我们：	</p>
<p>答：我们鼓励您多次标注（<span style="color:red"><strong>20条起步</strong></span>）。如果您有任何问题，包括系统的bug，您对任务的疑惑以及最终的劳务等，欢迎随时联系</p>
<ul>
<li>1172159897(QQ)</li>

</ul>
<ul>
<li><p>1147456265(QQ)</p>
<p>&nbsp;</p>
</li>

</ul>
</li>

</ol>
</body>
</html>